  <div class="side_content">
      <div class="col_wrapper">
          <div class="span5">
              <p>
                  {{unit.property.street}} <br/>
                  {{unit.property.city}}, {{unit.property.state}} {{unit.property.zip}} <br/>
                  {{ unit.property.neighborhood }} <br/>
                  {{ unit.bedrooms }} Bedroom | {{ unit.bathrooms }} Bathroom
              </p>

              <span class="detail_price">Price: {{ unit.price }}</span>
              <span class="detail_id">LISTING ID: {{ unit.listing_id }}</span>
          </div>

          {{!-- {{#if unit.floor_plan_photo }} --}}
	          <div class="span5 floorplan_image">
              <h3>floor plan</h3>
            	{{!-- <a href="/" class="lightbox"> --}}

                {{#each image in unit.images}}
                  {{#if image.is_floorplan}}
                    <a {{bindAttr href=image.image}} rel=prettyPhoto target="_blank">
                      <img {{bindAttr src=image.image }} width=178 height=165 class="light" rel=prettyPhoto />
                    </a>

                    <a {{bindAttr href=image.image}} target="_blank" class="enlarge_btn">enlarge image</a>
                  {{/if}}
                {{/each}}

            	
	          </div>
	        {{!-- {{/if}} --}}
      </div>


      <div class="col_wrapper" id="details_widget">
          <div class="span3"><a href="/assets/apply_now.pdf" class="btn">apply now(pdf)</a></div>
          <div class="span3"><a href="/assets/e-brochure.pdf" class="btn">e-brochure</a></div>
          <div class="span3 last">
            {{#linkTo 'contact_requests.new' class="btn"}}Schedule a visit{{/linkTo}}
          </div>
      </div>

      {{{ unit.description }}}

      <div class="col_wrapper">
          <div class="span5">
              <h3>Apartment amenities</h3>
              {{{unit.amenity_list}}}
          </div>

          <div class="span5 last">
              <h3>Building amenities</h3>
              {{{ unit.property.amenity_list }}}
          </div>
      </div>
  </div>
