  <div class="sidebar">
      <div class="gallery">

        {{!-- {{#if unit.firstImage.isLoaded}} --}}
          <div class="image_large">
            
            <a class="img_large_link" target="_blank" {{bind-attr href=unit.firstImage.image}}>
              <img class='img_large' {{bind-attr src=unit.firstImage.image}} width=279 height=303/>
            </a>

          </div>

        {{!-- {{/if}} --}}
 
          <ul class="gallery_list">
            {{#each image in unit.images}}
                <li><img class='thumb' {{bind-attr src=image.image}} width=84 height=67/></li>
            {{/each}}

      {{#if unit.property.isLoaded}}
        <a {{bind-attr href=unit.google_map_url}} class="btn google_map" target="_blank">
            google map
        </a>
      {{/if}}

      {{unit-calculator}}

      </div>

  </div>
