
<li>Unit number: {{unit.unit_number}}  </li>
<li>Bedrooms: {{unit.bedrooms}}				</li>
<li>Bathrooms: {{unit.bathrooms}} 				</li>
<li>Neighborhood: {{neighborhood}}		</li>
<li>Price: {{unit.price}}								</li>
<li>For Sale: {{unit.for_sale}}	</li>
<li>For Rent: {{unit.for_rent}}</li>
<li>Latitude: {{unit.lat}}</li>
<li>Longitude: {{unit.lon}}</li>
<li>Square feet: {{unit.sqft}}</li>
<li>Unit type: {{unit.unit_type}}</li>
<li>Searchable: {{unit.searchable}}</li>
<li>Description: {{unit.description}}</li>
<li>Amenity list: {{unit.amenity_list}}</li>
<li>Map: {{{unit.google_map_url}}}</li>
<li>Image count: {{unit.images.size}}</li>
<li>Contact: {{unit.contact.name}}</li>
<li>Property: {{unit.property.name}}</li>