<div class="sale_list">
    {{!-- {{#if unit.firstImage.isLoaded}} --}}
    <div class="col list_image">
        {{!-- {{#if unit.firstImage}} --}}
            <img {{bind-attr src="unit.firstImage.image"}} width=150 height=150/>
        {{!-- {{/if}} --}}

        {{#each im in images}}

            <img {{bind-attr src="im.image"}} width=150 height=150/>
            
        {{/each}}

    </div>
    {{!-- {{/if}} --}}

    <div class="col list_address">
        {{unit.property.street}}<br/>
        {{unit.property.city}}, {{unit.property.state}} {{unit.property.zip}}<br/>
        {{unit.property.neighborhood}}<br/>
        {{unit.bedrooms}} Bedroom | {{unit.bathrooms}} Bathroom
    </div>
    <div class="col list_price">
        ${{unit.price}}
    </div>
    <div class="col list_visit">
        {{#linkTo 'contact_requests.new' class="btn"}}Schedule a visit{{/linkTo}}
        {{#linkTo 'unit.index' unit class="btn"}}More Details{{/linkTo}}
        
        {{#if isAuthenticated}}
          {{#linkTo 'unit.edit' unit}}Edit{{/linkTo}}
        {{/if}}
    </div>
</div>
