


        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
          {{admin-nav isAuthenticated=isAuthenticated}}

            <div class="wrapper">

                <a href="/" id="logo">
                    <img src="/assets/logo.png" title="Maxx Realty Logo" />
                </a>

                {{main-nav}}

            </div>

            {{search-nav}}
        </header>

        <div class="wrapper">
          <section id="feature_header">
              <img src="/assets/home-header.jpg">
          </section>

          {{outlet}}
        </div>

        

        {{page-footer isAuthenticated=isAuthenticated}}
</div>



