<h1>page index page</h1>
	{{#if isEditing}}
		{{partial "page/form"}}
		<button {{action 'done'}}>Done</button>
	{{else}}
		<button {{action 'edit'}}>Edit</button>
	{{/if}}

{{page-details page=this}}

<button {{ action "destroy" }}>Destroy</button>
<br/>

