<form {{action "search" on="submit"}} class="unit-filter">
<div>
	Price: Min {{input type="text" value=min_price}} to Max {{input type="text" value=max_price}} <br/>
	Bedrooms: Min {{input type="text" value=min_bedrooms}} to Max {{input type="text" value=max_bedrooms}} <br/>
	Bathrooms: Min {{input type="text" value=min_bathrooms}} to Max {{input type="text" value=max_bathrooms}} <br/>
	<button type="submit">Submit</button>
</div>
</form>

{{#if isAuthenticated}}
	{{#linkTo "units.new"}}New unit{{/linkTo}}
{{/if}}

<div>
{{#each unit in results}}
	{{unit-snippet-formatted unit=unit isAuthenticated=isAuthenticated images=unit.images}}
{{else}}
	No results
{{/each}}

</div>
