<h1>Image index page</h1>

	{{#if isEditing}}
		{{partial "image/form"}}
		<button {{action 'done'}}>Done</button>
	{{else}}
		<button {{action 'edit'}}>Edit</button>
	{{/if}}

<ul>
	<li>Image name: {{name}}</li>
	<li>Image description: {{description}}</li>	
	<li>Unit: {{unit.unit_number}}</li>
	<img {{bind-attr src=image}} width=500 height=500/>
</ul>

<button {{ action "destroy" this}}>Destroy</button>

