Name: {{name}}
Email: {{email}}
Phone: {{phone}}
Units: {{units.length}}	

{{#each unit in units}}
	{{render "unit/_record" unit}}
{{/each}}

{{!-- {{#linkTo 'contact' model }}Show{{/linkTo}} --}}
<button {{ action "destroy" model}}>Destroy</button>
<br/><br/>
	