
  <div {{bindAttr class=":controls errors.name:error"}}>
    <label>Name</label>
    {{input type="text" value=name placeholder="Name"}}
    <small class="below">{{errors.name}}</small>
  </div>

  <div {{bindAttr class=":controls errors.street:error"}}>
    <label>Street</label>
    {{input type="text" value=street placeholder="Street"}}
    <small class="below">{{errors.street}}</small>
  </div>

  <div {{bindAttr class=":controls errors.city:error"}}>
    <label>City</label>
    {{input type="text" value=city placeholder="City"}}
    <small class="below">{{errors.city}}</small>
  </div>

  <div {{bindAttr class=":controls errors.state:error"}}>
    <label>State</label>
    {{input type="text" value=state placeholder="State"}}
    <small class="below">{{errors.state}}</small>
  </div>

  <div {{bindAttr class=":controls errors.zip:error"}}>
    <label>Zip</label>
    {{input type="text" value=zip placeholder="Zip"}}
    <small class="below">{{errors.zip}}</small>
  </div>

  <div {{bindAttr class=":controls errors.neighborhood:error"}}>
    <label>Neighborhood</label>
    {{input type="text" value=neighborhood placeholder="Neighborhood"}}
    <small class="below">{{errors.neighborhood}}</small>
  </div>

  <div {{bindAttr class=":controls errors.amenity_list:error"}}>
    <label>Amenity list</label>
    {{textarea value=amenity_list placeholder="Amenity list"}}
    <small class="below">{{errors.amenity_list}}</small>
  </div>

