
<li>Name: {{name}}</li>
<li>Street: {{street}}</li>
<li>City: {{city}}</li>
<li>State: {{state}}</li>
<li>Zip: {{zip}}</li>
<li>Neighborhood: {{neighborhood}}</li>
<li>Units</li>
<ul>
{{!-- 	{{#each unit in units}}
	<li>Unit {{unit.unit_number}}</li>
	{{/each}}
 --}}</ul>

