<h1>ContactS index</h1>

<ul>
{{#each model}}
Name: {{name}}
<br/>
Email: {{email}}
<br/>
Phone: {{phone}}
<br/>
Units: {{units.length}}	
<br/>
{{#linkTo 'contact.index' this}}Show{{/linkTo}}
<br/>
{{/each}}
</ul>

{{#linkTo 'contacts.new'}}New contact{{/linkTo}}

<br/>

{{outlet}}