
<li>Unit number: {{unit_number}}  </li>
<li>Bedrooms: {{bedrooms}}				</li>
<li>Bathrooms: {{bathrooms}} 				</li>
<li>Neighborhood: {{neighborhood}}		</li>
<li>Price: {{price}}								</li>
<li>For Sale: {{for_sale}}	</li>
<li>For Rent: {{for_rent}}</li>
<li>Latitude: {{lat}}</li>
<li>Longitude: {{lon}}</li>
<li>Square feet: {{sqft}}</li>
<li>Unit type: {{unit_type}}</li>
<li>Searchable: {{searchable}}</li>
<li>Description: {{description}}</li>
<li>Amenity list: {{amenity_list}}</li>
<li>Map: {{{google_map_url}}}</li>
<li>Contact: {{contact.name}}</li>
